﻿@using FizzBuzzBusiness
@using PagedList.Mvc
@model FizzBuzzWeb.Models.FizzBuzzModel
@{
    ViewBag.Title = "FizzBuzz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Fizz Buzz Application</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        @Html.LabelFor(model => model.Number)
        @Html.TextBoxFor(model => model.Number)
        @Html.ValidationMessageFor(model => model.Number)
    </p>
    <p>
        <input type="submit" value="Show List" />
    </p>
        if (Model.PagedList != null)
        {
            foreach (var results in Model.PagedList)
            {

                if (results == (Constants.DivisibleByBothAndSelectedDay) || results == (Constants.DivisibleByBothAndNotSelectedDay))
                {
                    var result = results.Split(' ');
                    <li><span class="Fizz">@result[0] </span><span class="Buzz">@result[1]</span></li>
                }
                else
                {
                    <li><span class="@results">@results</span></li>
                }
            }
            <br />
            <div class="pagination">
                @Html.PagedListPager(Model.PagedList, page => Url.Action("PageNavigation", new { page, Model.Number }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
            </div>
    }
}